.hero_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  display: grid;
  place-items:center;
}

.hero_card{
  width: 280px;
  margin: 10px;
  display: grid;
  justify-items: center;
}

.hero_card img {
  margin: 10px;
  border-radius: 50%;
}

.hero_card h1 {
  margin: 10px auto;
  font-size: 2rem;
}

.hero_card a {
  text-decoration: none;
  margin: 10px auto;
  font-size: 1.7rem;
}